#Tue Aug 20 16:28:44 CST 2013
TCPServerAddress=0.0.0.0
TCPServerPort=9201
connection.url=jdbc:mysql://10.9.7.88:3306/INFOCLT?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&&zeroDateTimeBehavior=convertToNull
connection.driver_class=com.mysql.jdbc.Driver
connection.username=root
connection.password=wlzx1158
DX_HOST1=119.36.93.174:8088
DX_HOST=221.232.69.116:8080
fileAddress=D:\\DW\\GWGL\\DB\\
fileAddressyb=D:\\DW\\GWGL\\YB\\
fileAddressyy=D:\\DW\\GWGL\\YY\\
htmlpath=D:\\software\\apache-tomcat-7.0.57-windows-x64\\apache-tomcat-7.0.57\\webapps\\FolderS\\
htmlpath75=D:\\tools\\apache-tomcat-6.0.36-windows-x86\\apache-tomcat-6.0.36\\webapps\\FolderS\\
htmlpath2=D:\\tools\\apache-tomcat-6.0.36-windows-x86\\apache-tomcat-6.0.36\\webapps\\OfficialDocument\\
addressRoot1=D:\\tools\\apache-tomcat-6.0.36-windows-x86\\apache-tomcat-6.0.36\\webapps\\FolderS\\
addressRoot2=D:\\tools\\apache-tomcat-6.0.36-windows-x86\\apache-tomcat-6.0.36\\webapps\\OfficialDocument\\

ssgImgFilePath=D:\\software\\apache-tomcat-7.0.57-windows-x64\\apache-tomcat-7.0.57\\webapps\\YidongBangong\\LDOfficialDoc\\
ssgHtmlFilePath=D:\\software\\apache-tomcat-7.0.57-windows-x64\\apache-tomcat-7.0.57\\webapps\\YidongBangong\\LDOfficialDocHtml\\
ssgImgFileUrl=http://221.232.69.116:8080/YidongBangong/LDOfficialDoc/
ssgHtmlFileUrl=http://172.16.89.42:8080/YidongBangong/LDOfficialDocHtml/
ssgInternetHtmlFileUrl=http://221.232.69.116:8080/YidongBangong/LDOfficialDocHtml/

redRequestImgFilePath=D:\\software\\apache-tomcat-7.0.57-windows-x64\\apache-tomcat-7.0.57\\webapps\\YidongBangong\\LDRedRequestForm\\
redRequestFilePath=D:\\software\\apache-tomcat-7.0.57-windows-x64\\apache-tomcat-7.0.57\\webapps\\YidongBangong\\LDRedRequestFormHtml\\
redRequestImgFileUrl=http://221.232.69.116:8080/YidongBangong/LDRedRequestForm/
redRequestHtmlFileUrl=http://172.16.89.42:8080/YidongBangong/LDRedRequestFormHtml/
redRequestInternetHtmlFileUrl=http://221.232.69.116:8080/YidongBangong/LDRedRequestFormHtml/

blackRequestImgFilePath=D:\\software\\apache-tomcat-7.0.57-windows-x64\\apache-tomcat-7.0.57\\webapps\\YidongBangong\\LDRequestForm\\
blackRequestFilePath=D:\\software\\apache-tomcat-7.0.57-windows-x64\\apache-tomcat-7.0.57\\webapps\\YidongBangong\\LDRequestFormHtml\\
blackRequestImgFileUrl=http://221.232.69.116:8080/YidongBangong/LDRequestForm/
blackRequestHtmlFileUrl=http://172.16.89.42:8080/YidongBangong/LDRequestFormHtml/
blackRequestInternetHtmlFileUrl=http://221.232.69.116:8080/YidongBangong/LDRequestFormHtml/

recieveImgFilePath=D:\\software\\apache-tomcat-7.0.57-windows-x64\\apache-tomcat-7.0.57\\webapps\\YidongBangong\\LDRecieveForm\\
revieveHtmlFilePath=D:\\software\\apache-tomcat-7.0.57-windows-x64\\apache-tomcat-7.0.57\\webapps\\YidongBangong\\LDRecieveFormHtml\\
recieveImgFileUrl=http://221.232.69.116:8080/YidongBangong/LDRecieveForm/
recieveHtmlFileUrl=http://172.16.89.42:8080/YidongBangong/LDRecieveFormHtml/
recieveInternetHtmlFileUrl=http://221.232.69.116:8080/YidongBangong/LDRecieveFormHtml/